<h1>Your triangle is:</h1>
<% if @new_triangle.triangle? %>
  <% if @new_triangle.equilateral? %>
    <h2>Equilateral!</h2>
  <% elsif @new_triangle.isoceles? %>
    <h2>Isoceles!</h2>
  <% else %>
    <h2>Scalene!</h2>
  <% end %>
<% else %>
  <h2>Not a Triangle!</h2>
<% end %>
